---
# Note that tasks have names defined here:
#   https://github.com/Microsoft/vsts-tasks/tree/master/Tasks
# So e.g. PublishTestResultsV2 becomes PublishTestResults@2
#
# The list of predefined build variables is found here:
# https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=vsts
#
# The variable names are slightly different when using steps written in bash:
# All uppercase and '_' instead of '.'
# They can also be accessed as e.g. $(Agent.Id) from bash code in this file

trigger:
  branches:
    include:
      - '*'
      - 'refs/tags/*'
  paths:
    exclude:
      - README.md
      - LICENSE
      - .gitignore

pool:
  vmImage: "ubuntu-latest"

variables:
  # DOCKER_BUILDKIT: 1
  dockerRegistryServiceConnection: 'arkivverket'
#  clusterName: 'arkivverket-prod'
  namespace: 'mottak'
  containerRepo: 'mottak'
  # System.Debug: true

stages:
  - stage: Build
    displayName: Build all container images
    jobs:
      - job: BuildArkade
        displayName: Build Arkade
        steps:
          - template: build.yaml
            parameters:
              appName: 'arkade5'
              containerRepo: ${{ variables.containerRepo }}
              containerRegServiceConn: ${{ variables.dockerRegistryServiceConnection }}

      - job: BuildInvitation
        displayName: Build Invitation
        steps:
          - template: build.yaml
            parameters:
              appName: 'invitation'
              containerRepo: ${{ variables.containerRepo }}
              containerRegServiceConn: ${{ variables.dockerRegistryServiceConnection }}

      - job: BuildMailer
        displayName: Build Mailer
        steps:
          - template: build.yaml
            parameters:
              appName: 'mailer'
              containerRepo: ${{ variables.containerRepo }}
              containerRegServiceConn: ${{ variables.dockerRegistryServiceConnection }}

      - job: BuildChecksumService
        displayName: Build Checksum Service
        steps:
          - template: build.yaml
            parameters:
              appName: 's3-checksum256'
              containerRepo: ${{ variables.containerRepo }}
              containerRegServiceConn: ${{ variables.dockerRegistryServiceConnection }}

      - job: BuildDeleteService
        displayName: Build Delete Service
        steps:
          - template: build.yaml
            parameters:
              appName: 's3-delete'
              containerRepo: ${{ variables.containerRepo }}
              containerRegServiceConn: ${{ variables.dockerRegistryServiceConnection }}

      - job: BuildAVScanner
        displayName: Build AV Scanner
        steps:
          - template: build.yaml
            parameters:
              appName: 's3-scan-tar'
              containerRepo: ${{ variables.containerRepo }}
              containerRegServiceConn: ${{ variables.dockerRegistryServiceConnection }}

      - job: BuildUnpacker
        displayName: Build unpacker
        steps:
          - template: build.yaml
            parameters:
              appName: 's3-unpack'
              containerRepo: ${{ variables.containerRepo }}
              containerRegServiceConn: ${{ variables.dockerRegistryServiceConnection }}

      - job: BuildTusd
        displayName: Build Tusd
        steps:
          - template: build.yaml
            parameters:
              appName: 'tusd'
              containerRepo: ${{ variables.containerRepo }}
              containerRegServiceConn: ${{ variables.dockerRegistryServiceConnection }}

  - stage: Package
    displayName: Package Mottak as Helm Chart
    dependsOn: Build
    condition: and(succeeded(), startsWith(variables['build.sourceBranch'], 'refs/tags/'))
    jobs:
      - job:
        displayName: Package as Helm Chart
        steps:
          - template: package.yaml
            parameters:
              appName: 'mottak'
              helmPackageArtifactName: 'mottak-helm-package'

  - stage: DeployAksDev
    displayName: Deploy AksDev
    dependsOn: Package
    condition: and(succeeded(), startsWith(variables['build.sourceBranch'], 'refs/tags/'))
    variables:
      - group: 'aks-dev'
    jobs:
      - deployment: DeployMottak
        environment: 'aks-dev'
        strategy:
          runOnce:
            deploy:
              steps:
                - template: deploy.yaml
                  parameters:
                    appName: 'mottak'
                    helmPackageArtifactName: 'mottak-helm-package'
                    helmReleaseName: 'mottak.mottak'
                    clusterName: 'aks-dev'
                    azureSubscriptionEndpoint: 'common-dev'
                    azureResourceGroup: 'common-dev'
                    namespace: ${{ variables.namespace }}
                    helmParameters: "\
                      tusd.mailgun_domain=\"$(tusdMailgunDomain)\",\
                      invitation.mailgun_domain=\"$(invitationMailgunDomain)\",\
                      invitation.upload_url=\"$(invitationUploadUrl)\""


  # Old cluster -- will be removed soon
  - stage: DeployMottakProd
    displayName: Deploy MottakProd
    dependsOn: Package
    condition: and(succeeded(), startsWith(variables['build.sourceBranch'], 'refs/tags/'))
    variables:
      - group: 'mottak-prod'
    jobs:
      - deployment: DeployMottak
        environment: 'arkivverket-prod'
        strategy:
          runOnce:
            deploy:
              steps:
                - template: deploy.yaml
                  parameters:
                    appName: 'mottak'
                    helmPackageArtifactName: 'mottak-helm-package'
                    helmReleaseName: 'mottak.mottak'
                    clusterName: 'arkivverket-prod'
                    azureSubscriptionEndpoint: 'pipeline'
                    azureResourceGroup: 'arkivverket'
                    namespace: ${{ variables.namespace }}
                    helmParameters: "\
                      tusd.mailgun_domain=\"$(tusdMailgunDomain)\",\
                      invitation.mailgun_domain=\"$(invitationMailgunDomain)\",\
                      invitation.upload_url=\"$(invitationUploadUrl)\""
